.header {
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  font-family: "Droid Sans Mono";
}

header {
  background-color: #555;
  height: 3.5rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

header button {
  height: 100%;
  width: 6rem;
  border: none;
  outline: none;
  background-color: #0556f3;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.01s;
  border: 2px solid #ececec42;
}
header button:hover {
  background-color: #054ddb;
}
header select {
  height: 100%;
  cursor: pointer;
  background-color: #054ddb;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  outline: none;
  border: 2px solid #ececec42;
}
form {
  display: flex;
  font-family: "Droid Sans Mono";
}
form .coding {
  height: calc(100vh - 15rem);
  width: 50%;
  background-color: #1c2130;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-right: 2px solid #ececec42;
  font-family: "Droid Sans Mono";
}
.label {
  width: 50%;
  background-color: #1c2130;
  height: calc(100vh - 15rem);
  color: #fff;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 1rem;
}
