/* Style for the form container */
.container form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
  border-radius: 5px;
  margin-top: 1rem;
}

/* Style for labels */
.container form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for text inputs */
.container input[type="text"],
.container input[type="email"],
.container input[type="tel"],
.container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.container textarea {
  height: 20rem;
}

/* Style for placeholders */
.container input[type="text"]::placeholder,
.container input[type="email"]::placeholder,
.container input[type="tel"]::placeholder,
.container textarea::placeholder {
  color: #888;
}

/* Style for submit button */
.container .download {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
}

/* Style for submit button on hover */
.container .download:hover {
  background-color: #0056b3;
}
